{% extends "base.html" %}
{% block content %}
<style>
  body {
    background-color: #FFFFE0; /* 背景色を薄い黄色に設定 */
  }
</style>

{% if messages %}
  {% for message in messages %}
  <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}

<h3>捨てるモノ一覧画面</h3>
<br>

<!-- 現在ログインしているユーザーのデータのみ表示 -->
{% if user_themes %}
  <p style="font-size: 20px; font-weight: bold; text-align: center; color: #EB5424;">
      『一日一捨♪』{{ user_themes.0.user.username }}さんの捨て活の継続は、 {{ user_themes.0.continuous_days }} 日目です。
  </p>
{% else %}
  <p style="font-size: 20px; font-weight: bold; text-align: center; color: #EB5424;">
  今日もコツコツ『一日一捨♪』
  </p>  <!-- データがない場合のメッセージ -->
{% endif %}

<form method="post" action="{% url 'boards:update_check' %}">
  {% csrf_token %}
  <!-- すべてのテーマを表示 -->
  <p>
    <a class="btn btn-primary" href="{% url 'boards:create_theme' %}">捨てるモノを登録する</a>
  </p>
  <p style="padding-left: 30px;">・自分の登録した<strong>『捨てるモノ』</strong>は、<span class="text-primary">ユーザー名</span>をクリックすると名称の編集ができます！</p>
  <p style="padding-left: 30px;">・<strong>捨てたよチェック</strong>にチェックを入れた後は、下にある<span class="text-primary">チェック☑を保存するボタン</span>をクリックして保存してください♪</p>
  <br>
  <!-- 切り替えボタン -->
<div>
  {% if show_user_only %}
    <a href="?show_user_only=false" class="btn btn-secondary">すべての捨てるモノ一覧を表示</a>
  {% else %}
    <a href="?show_user_only=true" class="btn btn-secondary">自分の捨てるモノ一覧を表示</a>
  {% endif %}
</div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>捨てたよチェック☑</th> <!-- チェックリストの列を追加 -->
        <th>捨てるモノ</th>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      {% for data in all_themes %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <!-- チェックボックスの状態を反映し、フォームに含める -->
          <input type="checkbox" name="checked_{{ data.id }}" {% if data.is_checked %}checked{% endif %}>
        </td>
        <td>{{ data.title }}</td>
        {% if data.user.id == user.id %}
          <td><a href="{% url 'boards:edit_theme' id=data.id %}">{{ data.user.username }}</a></td>
        {% else %}
          <td>{{ data.user.username }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">チェック☑を保存する</button>
</form>
{% endblock %}
